<body id="page-top">
  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand page-scroll" href="#page-top">Xendit Test</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="page-scroll" href="#documentation">Documentation</a>
          </li>
          <li>
            <a class="page-scroll" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  <header>
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          <div class="header-content">
            <div class="header-content-inner">
              <h1>To consume the API built by Reydi Sutandang, go hit "/v1/users/1" with adding header "Authentication": 'development'!</h1>
              <a href="/v1/user/1" class="btn btn-outline btn-xl page-scroll">Click here to test number 1!</a>
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="device-container">
            <div class="device-mockup iphone6_plus portrait white">
              <div class="device">
                <div class="screen">
                <section id="download" class="download bg-primary text-center">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-8 col-md-offset-2">
                        <h3 class="section-heading">Who you lookin' for? Tell me his/her ID!</h2>
                        <%= form_tag('/users', remote: true, id: 'welcome', method: :get) do %>
                          <%= text_field_tag(:user_id, nil, style: 'color: black') %>
                          <p id="result">Your user can be here! Fill above and click below to find out!</p>
                          <%= submit_tag("Search", class: 'btn btn-outline btn-xl') %>
                        <% end %>
                        <br />
                        <div class="badges">
                          <a class="badge-link" href="#">
                            <%= image_tag "google-play-badge.svg", alt:"" %>
                          </a>
                          <a class="badge-link" href="#">
                            <%= image_tag "app-store-badge.svg", alt:"" %>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                </div>
                <div class="button">
                  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section id="contact" class="contact bg-primary">
    <div class="container">
      <h2><i class="fa fa-plus-circle"></i> Add me on your social media!</h2>
      <ul class="list-inline list-social">
        <li class="social-twitter">
          <a href="https://twitter.com/reydisutandang"><i class="fa fa-twitter"></i></a>
        </li>
        <li class="social-facebook">
          <a href="https://fb.me/reydi"><i class="fa fa-facebook"></i></a>
        </li>
        <li class="social-google-plus">
          <a href="https://id.linkedin.com/in/reydi"><i class="fa fa-linkedin"></i></a>
        </li>
      </ul>
    </div>
  </section>
  <footer>
    <div class="container">
      <p>&copy; 2016 Reydi Sutandang. Not All Rights Reserved.</p>
      <ul class="list-inline">
        <li>
          <a href="#">Nothing</a>
        </li>
        <li>
          <a href="#">To see</a>
        </li>
        <li>
          <a href="#">Here</a>
        </li>
      </ul>
    </div>
  </footer>
  <!-- Bootstrap Core JavaScript -->
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <!-- Plugin JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <!-- Theme JavaScript -->
  <%= javascript_include_tag "new-age.min" %>
</body>
